@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids|Roboto|Montserrat');

/* Beige #FCFCFC
#463D3C
#d3c2b5
*/

body {
  font-family: "Montserrat";

 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #FCFCFC ;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: contain;



 /*
  background:

        linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),

        url("./beer.jpg");
        background-size: auto;

  */


}


form {

}

h1 {
  color: darkblue;
  position: center;

}

p {

}




*,*::after,*::before{
   box-sizing: border-box;
}
.menu-btn {
   font-size: 18px;
   font-weight: bold;
   display: inline-block;
   text-align: center;
   background-color: grey;
   color: white;
   padding: 20px;
   border: none;
   width: 100%;
}
.dropdown-menu {
   position: relative;
   display: inline-block;
}
.menu-content {
   display: none;
   position: absolute;
   width: 100%;
   background-color: grey;
   min-width: 160px;
   z-index: 1;
}
nav{
   background-color: #463D3C;
   width: 100%;
}
.links,.links-hidden{
   display: inline-block;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 15px;
   font-weight: bold;
   padding: 20px;
}
.links-hidden:hover,.links:hover {
   background-color: grey;
}
.dropdown-menu:hover .menu-content {
   display: block;
}
.dropdown-menu:hover .menu-btn {
   background-color: grey;
}
.hamburger {
   color: white;
   font-weight: bolder;
   display: none;
}
@media screen and (max-width: 600px) {
      nav a:not(:first-child) {
      display: none;
   }
   nav a.hamburger {
      float: right;
      display: block;
      padding: 12px;
   }
   .dropdown-menu{
      display: none;
   }
   nav.openNav a.hamburger {
      position: relative;
   }
   nav.openNav a {
      float: none;
      display: block;
      text-align: center;
   }
}
nav.openNav div.dropdown-menu{
   display: block;
   width: 100%;
}



.introtext {
  color: #463D3C;
}




div.liste {
  text-align: center;
	}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

::placeholder {
 color: #DCDCDC ;
 opacity: 1;
 font-size: 14px;
 text-align: left;
}

input:focus::placeholder {
  color: transparent;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid  #463D3C ;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

#293133

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
    text-align: left;

  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #293133;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #293133;
    font-weight:700;
  }

  padding-bottom: 6px;
  font-weight: 500;
  text-align: left;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;


}


/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */




#namen1 {
  padding: 8px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Verdana;
}


#namen2 {
  padding: 8px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Verdana;
}

/*input, label {
    display:block;
}*/




.group{
display: inline-block;
color: #293133;
font-weight: bold;
}

div.group {
  text-align: left;
  line-height: 30px;
}

.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}

button.margin-right {
  margin-right: 20px;

}


.button1 {
  background-color: #c4e85a;
  border: 2px solid #c4e85a;
  color: black;
  float: left;
  height: 45px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Verdana;


}

.button1:hover {
  background-color: white;
  border: 2px solid #c4e85a;
  color: black;
}

.button1:disabled {
  background-color: #ebfdb6;
  border: 2px solid #c4e85a;
  color: black;
  float: left;
  height: 45px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Verdana;
}


.button2 {
  background-color: #DD543C;
  border: 2px solid #DD543C;
  color: black;
  height: 45px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: Verdana;

}

.button2:hover {
  background-color: #f9bdb2;
  border: 2px solid #DD543C;
  color: black;

}

.felder {
  background-color: #8B8378;
  padding-top: 40px;
  padding-bottom: 40px;
}

.liste {
  color: black;

}

#li {
  display: inline-block;
  text-align: left;
  }

  li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }


  /* Element counter */
  li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
